<!DOCTYPE html>
<html lang="en" xmlms="https://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Clientes</title>

</head>

<header th:fragment= "CabeceraHome">   <h1>Gestión de Personas en la EOI</h1></header>
<header th:fragment= "CabeceraQuienes"><h1>Quienes somos en la EOI</h1></header>
<header th:fragment= "CabeceraCard"><h1>Gestión de Tarjetas en la EOI</h1></header>
<header th:fragment= "CabeceraPerson"><h1>Detalle del Cliente</h1></header>
<header th:fragment= "CabeceraContacto"><h1>Contacto en la EOI</h1></header>
<body>


</body>
</html>
